<html>

  <head>
  <link rel="stylesheet" href="/stylesFooter.css">
  </head>

  <body>

    <div class="wordsFoot">

      <div class="word">
        
        <p class="pFooter">Thank you so much for your support! <br><br></p>

        <p>
        BlueCycle © 2023<br>
        Email: community@gmail.com<br>
        Contact us: 083 123 4567
        </p>
        
      </div>
      
    </div>
  
  </body>

</html>