<!DOCTYPE html>
<html>

    <head>

        <title>Community Portal | <%= title %></title>
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="icon" type="image/png" href="/images/favicon.jpg">

    </head>

    <body>

        <nav>

            <ul>

                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/contact">Contact</a></li>

            </ul>

            <%= title %>

        </nav>

    </body>

</html>
