<!DOCTYPE html>
<html>

  <head>

    <title>Community Portal</title>
    <link rel="stylesheet" href="/css/style.css" />

  </head>

  <body>
    <h1>Contact Us</h1>
    
    <form method="POST" action="/contact">

      <label id="nameID">Name:</label>
      <input type="text" name="name" placeholder="Your Name" required /><br />

      <label id="emailID"></label>
      <input type="email" name="email" placeholder="Your Email" required /><br />

      <label id="messageID"></label>
      <textarea name="message" placeholder="Your Message" required></textarea><br />
      
      <button type="submit">Send</button>
      
    </form>

  </body>
</html>


