<link rel="stylesheet" href="/css/style.css">
<body> 

    <div class="wrapper">

        <%- include('../partials/header') %>

        <div class="box">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

        <%- include('../partials/footer') %>

    </div>

    <main> 

        <h2>Upcoming Events</h2>

        <div class="words3">

            <div class="word"><p>
                Come join us at our monthly open mic! Whether you're a seasoned musician or just starting out, we have something to offer for everyone. Bring a friend, grab something to drink and enjoy the night out 
                with us!</p>
            </div>

            <div class="word"><p>
                If music isn't your thing, the floor is also open to comedy, poetry, and more! All you need to bring is creative mind and a yearning for fun! Interact with the poll and vote for your favorite events.</p>
            </div>

            <div class="word"><p>
                Our open mics are safe and accepting places where the community can come together and have fun! Meet us on the first sunday of every month in your local community centre.</p>
            </div>

        </div>

        <div class="words6">

            <div class="word"><p>
                Join us every month at the Community Farmers Market, where local farmers, artisans, and food vendors come together to offer fresh, seasonal produce, 
                handmade goods, and delicious treats! Stroll through vibrant stalls, meet your neighbors, and support small businesses while enjoying live music and 
                family-friendly activities. Whether you're stocking up on farm-fresh groceries or looking for unique, locally crafted items, 
                our market is the perfect community gathering spot. Mark your calendar. We can not wait to see you there!  </p>
            </div>

        </div>
            

        <div class="words7">

            <div class="word"><p>
                Join us for our monthly Community Beach Clean-Up and help keep our shores beautiful! Together, we will remove litter, protect marine life, 
                and preserve our coastline for everyone to enjoy. All ages and skill levels are welcome—gloves, bags, and refreshments will be provided. It is a great way 
                to give back, meet fellow eco-conscious neighbors, and enjoy some fresh air by the water. Let us make a difference, one piece of trash at a time!</p>
            </div>

        </div>
            
        <div class="words8">

            <div class="word"><p>
                First Sunday of every month.<br>Community Hall.<br>7:00pm - 10:00pm</p>
            </div>

        </div>

        <div class="words9">

            <div class="word"><p>
                Second Sunday of every month.<br>Community Hall.<br>9:00am - 12:00pm</p>
            </div>

        </div>
        
        <div class="words10">

            <div class="word"><p>
                Third Sunday of every month.<br>Strands Beach.<br>9:00am - 12:00pm</p>
            </div>

        </div>
                
            

        

        <div class="pics3">

            <img src="images/openmic.jpg" alt="openmic">

        </div>

        <div class="pics6">

            <img src="images/farmrsmarket.jpg" alt="farmersmarket">

        </div>
        
        <div class="pics7">

            <img src="images/beachclean.jpg" alt="beachclean">

        </div>

    </main>

</body>