<link rel="stylesheet" href="/style.css">

  <body>

    <div class="wrapper">

        <%- include('../partials/header') %>

        <div class="box">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>

        <%- include('../partials/footer') %>

    </div>

    <main> 

      <h2>Home</h2>

      <div class="words1">

        <div class="word"><p>
          Welcome to our vibrant community hub—a space where neighbours connect, collaborate, and celebrate local life. 
          Whether you're looking for upcoming events, community news, or ways to get involved, our goal is to keep you informed and inspired. 
          From farmers markets and beach clean-ups to creative nights and friendly competitions, there's always something happening here. 
          Together, we are building a stronger, more connected community—one event at a time. </p>
        </div>

        <div class="word"><p>
            We offer communities the option of allowing us to collect their waste and recycle it for free. We do the boring work for you by collecting and sorting your waste.
            Despite the complexity of the recycling process, we make it as easy as possible for you to recycle your waste.</p>
        </div>

        <div class="word"><p>
            But wait, there's more! We also offer a wide range of recycling services, including metal recycling, paper recycling, and glass recycling. 
            And if that isn't enough, we will even pay you a precentage of the value of your waste!</p>
        </div>

      </div>

      <div class="pics1">
          <img src="about-chair.jpg" alt="chair">
      </div>

    </main>

  </body>

</html>