<link rel="stylesheet" href="/css/style.css">

<div class="wrapper">
  <%- include('../partials/header') %>
  <div class="box">
    <!-- this box is for the background effects -->
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <%- include('../partials/footer') %>
</div>
<main> 

    <h2 id="thankHead">Thank You!</h2>

    <div class="wordsT">

        <div class="word">
            <p>Your message has been received, <%= name %>.</p>
        </div>
        

        <button id="thankButton" ><a href="/">Return to home page?</a></button>


    </div>

  
</main>